body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

rect {
	fill: green;
	stroke: black;
}

svg {
  background-color: lightblue;
  position: absolute;
  top:0;
  left:0;
}

circle {
	fill: blue;
	stroke: black;
}